@charset "utf-8";
/* common.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root{
  --f_size11:0.68rem;
  --f_size12:0.75rem;
  --f_size13:0.813rem;
  --f_size16:1rem;
  --f_size18:1.125rem;
  --title_size20:1.25rem;

  --main_color:#5db9d2;
  --t_color01: #333;
}

body{
  font-family: "Noto Sans KR", "맑은 고딕", arial, sans-serif;
  font-size: var(--f_size13);
  color: var(--t_color01);
  background: linear-gradient(to bottom , #5db9d2 30%, #dadada 30%);
  height: 100vh;
}

a{
  font-family: "Noto Sans KR", "맑은 고딕", arial, sans-serif;
  color: var(--t_color01);
  text-decoration: none;
}

img{width: 100%;}

/* 
  body서식
  root: 변수
  메인컬러
  보조컬러
*/